body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #002A40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: Lora, serif;
  font-weight: normal;
  font-size: 85px;
  margin: 0;
}

h2 {
  font-family: Lora, serif;
  font-weight: normal;
  font-size: 43px;
  margin: 0;
}

h3 {
  font-family: Lora, serif;
  font-weight: normal;
  font-size: 32px;
  margin: 0;
}

.menuClass {
  background-color: #F5FF33;
  outline: 0;
  border-width: 0 2px 2px;
  border-style: solid;
  border-color: #002A40;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  position: absolute;
  width: 95%;
}

.controlClass {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
}

::-webkit-datetime-edit { padding: 10px; }
::-webkit-calendar-picker-indicator { padding-right: 25px }

input[type=date] {
  text-align: right;
}

input[type="date"]:before {
  content: attr(placeholder) !important;
  font-family: "Work Sans", sans-serif;
  margin-right: 0.5em;
  padding-left: 10px;
}